body {
    background-color: rgba(108,122,137);
    --default-text-color: white;
    --button-color: red;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 10px black;
}

.sign-in-main{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    color: var(--default-text-color);
    align-items: center;
    justify-content: center;
}

.page-header{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
}

label{
    width: 20vw;
    text-align: right;
    font-size: 15px;
    padding-right: 5vw;
}

input{
    border-radius: 10px;
    background-color: lightgray;
    width: 60vw;
    height: 8vw;
    outline: none;
}

button{
    background-color: var(--button-color);
    color: white;
    border-radius: 15px;
    width: 60vw;
    height: 6vh;
    box-shadow: 0px 0px 5px black;
}

#google-logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

.form-info {
    align-items: center;
}

#label-ca {
    margin-top: 10vh;
    font-size: 15px;
}

.row-login{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.row-register {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

#sign-in-btn {
    margin: 10%;
}

#sign-up-btn {
    margin-top: 5%
}

#create-account-btn {
    margin-top: 5%;
    margin-bottom: 10%;
}

#log-in-btn {
    margin-top: 5%;
    margin-bottom: 8%;
}

.show-border{
    border: solid 2px white;
}
.content-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: wrap-content;
    padding: 0px;
    align-items: center;
}

.title-row{
    width: 80vw;
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-row{
    min-width: 60vw;
    max-width: 80vw;
    height: 3vh;
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-line {
    border-left: 2px solid white;
    margin-right: 20px;
    margin-left: 20px;
    height: 150%;
    align-items: center;
}

.channel-row{
    max-width: 80vw;
    height: 7vh;
    /*max-height: 15vh;
    min-height: 10vh;*/
    justify-content: space-around;
    background-color: darkred;
    border-radius: 15px;
    padding: 10px;
}

.share-btn-row{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

#title{
    /*max-height: 15vh;*/
    text-overflow: ellipsis;
    overflow: hidden;    
    font-size: 30px;
    text-align: center;
    line-height: 1;
}

#channelIcon{
    border-radius: 40px;
    width: 10vw;
}

#channelName{
    font-size: 20px;
    max-width: 80%;
    min-width: wrap-content;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
}

#description{
    overflow-y: scroll;
    display: flex;
    width: 80vw;
    height: 15vh;
    padding: 10px;
}

#thumbnail{
    padding-top: 5vh;
    width: 80vw;
}

.main-btn{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

#copy-share-link-btn{
    width: 470px;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}